language: cpp

matrix:
  include:
    - compiler: g++-5
      sudo: required
      dist: trusty
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - g++-5
            - lua5.2
            - liblua5.2-dev
      before_install:
        - sudo apt-get autoremove lua lua5.1
      install:
        - sudo apt-get install -y gdb
        - sudo update-alternatives --install /usr/bin/g++ g++ /usr/bin/g++-5 30
      after_failure:
        - COREFILE=$(find . -maxdepth 1 -name "core*" | head -n 1) # find core file
        - if [[ -f "$COREFILE" ]]; then gdb -c "$COREFILE" ./tests -ex "thread apply all bt" -ex "set pagination 0" -batch; fi
      before_script:
        - ulimit -c unlimited -S
      script:
        - ci/test.sh -DLUA_INCLUDE_DIR="/usr/include/lua5.2" -DLUA_LIBRARY="/usr/lib/x86_64-linux-gnu/liblua5.2.so"

    - compiler: clang
      os: osx
      osx_image: xcode8.3
      before_install:
        - brew update
      install:
        - brew install lua
      script:
        - ci/test.sh
