language: cpp

dist: trusty
osx_image: xcode10
sudo: required

env:
  matrix:
  - LUA="lua 5.1"
  - LUA="lua 5.2"
  - LUA="lua 5.3"
  - LUA="luajit 2.0"

os:
  - linux
  - osx

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-5

before_install:
  - if [[ $TRAVIS_OS_NAME == "linux" ]]; then export CXX=g++-5; sudo pip install hererocks; fi
  - if [[ $TRAVIS_OS_NAME == "osx" ]]; then export CXX=clang++; brew update;  brew upgrade python; sudo pip3 install hererocks; fi
  - hererocks lua-pkg --$LUA -rlatest
  - source lua-pkg/bin/activate

script:
  - ci/test_all.sh -DLUA_INCLUDE_DIR="$PWD/lua-pkg/include"
